@media (max-width: 767px) {
  nav .navbar-nav {
    width: 300px;
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 0;
    opacity: 0;
    visibility: 0;
    transition: 0.5s;
    display: block;
  }
  nav .navbar-nav li a {
    padding: 15px 30px;
    display: block;
  }
  nav.show .navbar-nav {
    opacity: 1;
    visibility: 1;
    top: 100px;
  }
  #icon {
    display: block !important;
  }
}
